* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: #1877f2;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

body {
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
  background-color: #e9ebee;
  min-width: 100vw;
  min-height: auto;
  color: #1c1e21;
}
form {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: start;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08);
  padding: 40px 20px;
  max-width: 550px;
  max-height: auto;
  gap: 10px;
}
label{
  border: solid 1px #e9ebee;
  display: flex;
  color: #1c1e21;
  text-align: center;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
}
.s1, .s2, .s3, .s4, .s5, .s6, .footer {
  display: grid;
  width: 100%;
  padding: 0 20px 0 20px;
  gap: 10px;
}

.s1{
  text-align: center;
  padding: 30px 30px 10px 30px;

}
.s2{
  grid-template-columns: 1fr 1fr;
}
.s3{
  grid-template-columns: 1fr;
}
.s4{
  grid-template-columns: 1fr 1fr 1fr;
}
.s5{
  grid-template-columns: 1fr 1fr 1fr;
}
.tier, .demi, .double, label, button{
  height: 50px;
  border-radius: 5px;
}
.tier{
  background-color: #e9ebee;
}
input, select{
  padding-left: 10px;
  border: solid 1px #e9ebee;
}
input:focus, select:focus{
  outline-color:  #1c1e21;
}
.titre{
  padding: 30px 0 0 20px;
}
.s6 p{
  padding-bottom: 20px;
}
button{
  display: flex;
  background-color: #42b72a;
  color: white;
  font-size: 16px;
  border: none;
  justify-content: center;
  align-items: center;
}
hr{
  border: 1px solid #e9ebee;
}
@media screen and (max-width:768px) {
  .s2{
    grid-template-columns: 1fr;
  }
  .s4{
    grid-template-columns: 1fr;
  }
  .s5{
    grid-template-columns: 1fr;
  }
  .s5 label{
    width: 50%;
  }

  
}
